$best: #cfc;
$out: #e0e0e0;
$bestOut: #ffa;
$worstOut: #888;
$bestFinal: #0a0;
$pointBar: #0a0;

$ANA: #f57d31;
$BOS: #fdb930;
$CGY: #cb0d0d;
$CHI: #c60c30;
$CBJ: #002147;
$DAL: #016f4a;
$DET: #e51837;
$EDM: #013e7f;
$FLA: #c51230;
$LAK: #b2b7bb;
$MIN: #004f30;
$MTL: #c51230;
$NSH: #fdbb30;
$NYI: #00529b;
$NYR: #0161ab;
$OTT: #e51837;
$PHI: #f4793e;
$PIT: #c5b358;
$SJS: #007889;
$STL: #00529c;
$TBL: #003d7c;
$TOR: #013e7f;
$WSH: #002147;

// $ANA: #F77E30;
// $CHI: #E41836;
// $DAL: #00613D;
// $DET: #E51837;
// $FLA: #DB1938;
// $LAK: #B2B6BA;
// $MIN: #164734;
// $NSH: #FFB71A;
// $NYI: #00529B;
// $NYR: #005DAB;
// $PHI: #F37737;
// $PIT: #D0C492;
// $SJS: #007889;
// $STL: #00529B;
// $TBL: #083377;
// $WSH: #E41736;
