$best: #cfc;
$out: #e0e0e0;
$bestOut: #ffa;
$worstOut: #888;
$bestFinal: #0a0;
$pointBar: #0a0;

$ANA: #f95602;
$ARI: #8c2633;
$BOS: #fcb514;
$BUF: #002654;
$CGY: #ce1126;
$CAR: #ce1126;
$CHI: #cf0a2c;
$COL: #6f263d;
$CBJ: #002654;
$DAL: #006847;
$DET: #ce1126;
$EDM: #cf4520;
$FLA: #c8102e;
$LAK: #acaea9;
$MIN: #024930;
$MTL: #af1e2d;
$NSH: #ffb81c;
$NJD: #ce1126;
$NYI: #003893;
$NYR: #0038a8;
$OTT: #ce1126;
$PHI: #f74902;
$PIT: #fcb514;
$SJS: #006d75;
$STL: #002f87;
$TBL: #002868;
$TOR: #00205b;
$VAN: #001f5b;
$VGK: #89734c;
$WSH: #041e41;
$WPG: #041e41;
