$best: #cfc;
$out: #e0e0e0;
$bestOut: #ffa;
$worstOut: #888;
$bestFinal: #0a0;
$pointBar: #0a0;

$ANA: #fc4c02;
$ARI: #8c2633;
$BOS: #ffb81c;
$BUF: #041e42;
$CGY: #cb0d0d;
$CAR: #c00;
$CHI: #c8102e;
$COL: #6f263d;
$CBJ: #041e42;
$DAL: #006341;
$DET: #c8102e;
$EDM: #041e42;
$FLA: #041e42;
$LAK: #a2aaad;
$MIN: #154734;
$MTL: #a6192e;
$NSH: #ffb81c;
$NJD: #c8102e;
$NYI: #00468b;
$NYR: #0038a8;
$OTT: #c8102e;
$PHI: #fa4616;
$PIT: #cfc493;
$SJS: #006272;
$STL: #003087;
$TBL: #00205b;
$TOR: #00205b;
$VAN: #00205b;
$VGK: #b9975b;
$WSH: #041e42;
$WPG: #041e42;
