.row {
   margin: 1em 0;
}

.center {
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}

.textCenter {
   text-align: center;
}

.flexRow {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}
